@import "assets/vars";
@import "assets/forms";
@import "assets/table";

.ccart-cart {
  box-shadow: $shadow-1;
  background: white;
  display: block;
  display: flex;
  flex-direction: column;

  width: 700px;
  height: 400px;

  header {
    flex: none;
    padding: 0 28px;
    height: 50px;
    line-height: 50px;
  }
  main {
    flex: 1;
    padding: 14px 28px;
    width: 100%;

    table {
      font-size: 0.7em;
      padding: 0;

      th {
        height: 20px;
        line-height: 20px;
        border-top: none;
        padding: 0 10px;
        text-align: left;
      }
      td {
        height: 30px;
        line-height: 30px;
        padding: 0 10px;
        font-size: 11pt;
        @include ellip;

        input {
          background: $white-3;
          width: 50px;
          line-height: initial;
          height: initial;
        }
      }
      .remove {
        color: $red;
        cursor: pointer;
      }
    }
  }
  footer {
    flex: none;
    padding: 0 28px;
    height: 68px;
    line-height: 40px;
    display: flex;

    .total {
      flex: 1;
    }
    button {
      flex: 0;
    }
  }
  button {
    padding: 0 14px;
    border: none;
    outline: none;
    background: $accent-1;
    color: $text-light-1;
    text-transform: uppercase;
    box-shadow: $shadow-2;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    transition: .15s box-shadow $transition;

    &:hover {
      box-shadow: $shadow-3;
    }
    &:active {
      box-shadow: $shadow-1;
    }
  }
}
